body, .bk-grey{
	background-color:grey;	
}
.bk-white{
	background-color:white;
}
.margin-left{
	margin-left:10px;
}
.margin-right{
	margin-right:10px;
}
.font-white{
	color:#FFFFFF;
}
.padding{
	padding:10px;
}
h1{
	font-size:36px;
}
.container{
	max-width:1200px;
	margin:0 auto;
}
.header-title{
	text-align:center;
	padding: 20px;
	background-color:white;
}
.container-6, aside{
	width:600px;
	display: inline-block;
    height: 436px;
}
.section-padding, .article-padding{
	padding:10px;
}
.center{
	text-align:center;
}
footer{
	width:1200px;
}
